* {
  
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  
}

.App {
  text-align: center;
  background-color: #f3f3f3;
  
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

span {
  font-size: 2rem;
}

/* Navigation styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8d4b4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo-container {
  width: 12%;
}

.logo {
  width: 50%;
  margin: 10px;
  margin-left: 35%;
}

nav {
  width: 70%;
}

nav a {
  margin-left: 7%;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #737373;
}

.active-nav {
  color: #737373;
}

/* MyListings styling */

.mylistings-header {
  display: flex;
  justify-content: space-between;
  padding: 3%, 5%, 3%, 5%;
  margin: 2.25% 0;
  align-items: center;
}

.mylistings-header h2 {
  margin-left: 5%;
}

.new-listing-btn {
  background-color: #ff896b;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.75%;
  margin-right: 5%;
  width: 170px;
}

.new-listing-btn:hover {
  background-color: #fcae9a;
}

.new-listing-link {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.mylistings-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.individual-card {
  width: 28%;
  margin: 1.5%;
  padding: 1.5% 2.5%;
  border: 1px solid black;
  background-color: #ebe6e6;
  border-radius: 10px;
  text-align: left;
}

.card-price {
  font-size: 3rem;
}

.card-city-state {
  margin-top: -6%;
}

.card-btn {
  width: 80px;
  font-size: 1.6rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #e8d4b4;
  color: black;
  margin: 5% 2% 5% 0;
}

/* Footer styling */

.footer {
  background-color: #e8d4b4;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.5% 0;
  margin-top: 3%;
  margin-bottom: 0;
}

footer p {
  font-size: 1.6rem;
}

/* errors */
.errors {
  color: red;
}

/* Registration styling */
.register { 
  border: 1px solid #ebe6e6;
  width: 30%;
  padding:20px;
  margin: 25vh auto;
}
.registration-form {
  width: 100%;
  display: flex;
  flex-direction:column;
  font-size: 1.9rem;
}
.registration-form input {
  width: 100%;
  margin-top:10px;
  font-size: 1.2rem;
  flex: 1;
  padding: 8px;
  
  
  border-radius: 3px;
  border: 1px solid #ebe6e6;
  

}
.registration-form button {
  width: 100%;
  margin-top:10px;
  border-radius: 4px;
  line-height: 24px;
  font-size: 1.6rem;
  background:#e8d4b4;

}


/* registration responsive css */
@media only screen and (max-width: 500px) {
  .register {
    width:60%;
  }
}

/* Login styling */
.signin-form {
  text-align: center;
  background-color: #e8d4b4;
  border: 1px solid black;
}

/* Edit Modal styling */

.edit-form {
  position:  fixed;
  top: 25px;
  z-index: 1;
  animation: fadeIn 1s;
  width: 40%;
  border-radius: 10px;
  padding: 30px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: black 1px solid;

}

.edit-form input {
  font-size: 1.9rem;
}

.edit-form label {
  width: 25%;
  font-size: 1.9rem;
}

.edit-form input {
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 20px;
}
